{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block body %}
<main class="container-fluid">
	<div class="container-fluid">
      <div id="toolbar" class="d-flex justify-content-end">
         <a href="{{ path('app_account_titularity_index') }}" id="refresh" class="btn btn-primary">{{ 'btn.refresh' | trans }}</a>
      </div>
	   {{ include('account_titularity_check/_list.html.twig') }}
      <span class="pull-right"><a href="{{ path ('app_account_titularity_check') }}" class="btn btn-primary rounded-circle fixed-bottom-right"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></a></span>
	</div>
</main>
{% endblock %}