<table id="taula" class="table bootstrap-table mt-2" {{ stimulus_controller('table', { 
   'exportName': 'unpaiedReceipts',
   
}) }}
data-page-number="{{ page }}" 
data-page-size="{{ pageSize }}"
data-page-sortName="{{ sortName }}"
data-page-sortOrder="{{ sortOrder }}">
   <thead>
      <tr>
         <th data-sortable="true">{{"receipt.numeroRecibo" | trans | capitalize}}</th>
         {% if is_granted("ROLE_RECEIPTS") %}
            <th data-sortable="true">{{"receipt.numeroReferenciaExterna" | trans | capitalize}}</th>
         {% endif %}
         <th data-sortable="true">{{"receipt.tipoIngreso" | trans | capitalize}}</th>
         <th data-sortable="true">{{"receipt.importe" | trans | capitalize}}</th>
         <th data-sortable="true">{{"receipt.ultimoDiaPago" | trans | capitalize}}</th>
         {% if is_granted("ROLE_RECEIPTS") %}
            <th data-sortable="true">{{"receipt.estado" | trans | capitalize}}</th>
         {% endif %}
         <th data-sortable="true">{{"receipt.situacion" | trans | capitalize}}</th>
         <th data-sortable="true">{{"receipt.tipoExaccion" | trans | capitalize}}</th>
         <th data-sortable="true">{{"receipt.domiciliado" | trans }}</th>
         <th data-sortable="true">{{"receipt.traspasado" | trans }}</th>
         <th data-sortable="true">{{"receipt.paralizado" | trans }}</th>
         <th data-sortable="true">{{"receipt.incluidoEnPlanDePagos" | trans }}</th>
         <th data-sortable="true">{{"receipt.aprobada" | trans }}</th>
         <th data-sortable="true">{{"receipt.observaciones" | trans }}</th>
         <th data-sortable="true" data-field="options">{{"options" | trans | capitalize}}</th>
      </tr>
   </thead>
   <tbody>
      {% for receipt in receipts %}
         <tr>
            <td>{{ receipt.numeroRecibo }}</td>
            {% if is_granted("ROLE_RECEIPTS") %}
               <td>{{ receipt.numeroReferenciaExterna }}</td>
            {% endif %}
            <td>{{ receipt.tipoIngreso.descripcion }}</td>
            <td>{{ receipt.importeTotal | format_number({grouping_used:true}, locale: 'es')}}
            <td>{{ receipt.fechaLimitePagoBanco != null ? receipt.fechaLimitePagoBanco | date('Y-m-d') : '' }}</td>
            {% if is_granted("ROLE_RECEIPTS") %}
               <td>{{ receipt.estado }}</td>
            {% endif %}
            <td>{{ receipt.situacion }}</td>
            <td>{{ receipt.tipoExaccion }}</td>
            <td>{{ receipt.estaDomiciliado ? "messages.si" | trans : "messages.no" | trans }}</td>
            <td>{{ receipt.estaTraspasado ? "messages.si" | trans : "messages.no" | trans }}</td>
            <td>{{ receipt.estaParalizado ? "messages.si" | trans : "messages.no" | trans }}</td>
            <td>{{ receipt.estaIncluidoEnPlanDePagos ? "messages.si" | trans : "messages.no" | trans }}</td>
            <td>{{ receipt.estaAprobada ? "messages.si" | trans : "messages.no" | trans }}</td>
            <td>
               {% if ( receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_VOLUNTARIA') and receipt.estaDomiciliado and not receipt.periodoPagoVoluntarioVencido ) %}
                  {{ 'messages.reciboDomiciliado' | trans | raw }}
               {% elseif ( receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_EJECUTIVA') and receipt.estaIncluidoEnPlanDePagos ) %}
                  {{ 'messages.reciboAplazado' | trans | raw }}
               {% elseif ( receipt.estaParalizado ) %}
                  {{ 'messages.reciboParalizado' | trans | raw }}
               {% elseif ( receipt.estaTraspasado ) %}
                  {{ 'messages.reciboTraspasado' | trans | raw }}
               {% elseif ( receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_VOLUNTARIA') and receipt.periodoPagoVoluntarioVencido ) %}
                  {{ 'messages.reciboFueraPlazo' | trans | raw }}
               {% endif %}
            </td>
            <td>
               {% if not is_granted("ROLE_USER") %}
                  {% if ( ( receipt.estado == constant('App\\Entity\\GTWIN\\Recibo::ESTADO_PENDIENTE') and receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_VOLUNTARIA') and not receipt.estaDomiciliado and not receipt.periodoPagoVoluntarioVencido )
                     or ( receipt.estado == constant('App\\Entity\\GTWIN\\Recibo::ESTADO_PENDIENTE') and receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_EJECUTIVA') and not receipt.estaTraspasado and not receipt.estaParalizado )
                     or ( receipt.estado == constant('App\\Entity\\GTWIN\\Recibo::ESTADO_PENDIENTE') and receipt.situacion == constant('App\\Entity\\GTWIN\\Recibo::SITUACION_P') and receipt.tipoExaccion == constant('App\\Entity\\GTWIN\\Recibo::TIPO_EXACCION_ID') and receipt.estaAprobada ) 
                     )
                  %}
                  <a href="{{ path ("receipt_forwarded_pay",{'numeroRecibo': receipt.numeroRecibo })}}" data-action="click->table#onClick" data-pagination="false"><i class="fa fa-credit-card" title="{{ 'confirmation.pay' | trans}}"></i></a>&nbsp;
                  {% endif %}
               {% endif %}
               <a href="{{ path ("receipt_show",{'id': receipt.id}) }}" data-action="click->modal#openModal"><i class="fa fa-info" title="{{ 'option.details' | trans}}"></i></a>
            </td>
         </tr>
      {% endfor %}
   </tbody>
</table>
