

<nav class="navbar navbar-expand navbar-dark bg-dark mb-1">
  <a class="navbar-brand" href="#">&nbsp;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" href="{{ path('receipt_find') }}">{{ 'navitem.receiptsFind' | trans |capitalize }}</a>
		</li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarTaxes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'navitem.taxes' | trans | capitalize }}
            </a>
            <div id="js-menu-pagos" class="dropdown-menu" aria-labelledby="navbarTaxes">
                <a class="dropdown-item" href="{{ path('exam_new') }}">{{"navitem.exams" | trans | capitalize}}</a>
            </div>
        </li>
        {% if app.user %}
        {% if is_granted('ROLE_USER') %}
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarRecibos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.receipts' | trans | capitalize }}
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarRecibos">
			  <a class="dropdown-item" href="{{ path('receipts_file_upload') }}">{{ 'navitem.sendFile' | trans |capitalize }}</a>
			  <a class="dropdown-item" href="{{ path('receipts_file_list') }}">{{ 'navitem.list' | trans |capitalize }}</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarReturns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.returns' | trans | capitalize }}
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarReturns">
			  <a class="dropdown-item" href="{{ path('returns_file_upload') }}">{{ 'navitem.convertReturnsFile' | trans |capitalize }}</a>
			  <a class="dropdown-item" href="{{ path('returns_file_list') }}">{{ 'navitem.list' | trans |capitalize }}</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDebts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.debts' | trans | capitalize }}
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarCheckDebts">
			  <a class="dropdown-item" href="{{ path('debts_file_upload') }}">{{ 'navitem.debts.upload' | trans |capitalize }}</a>
			  <a class="dropdown-item" href="{{ path('debts_file_list') }}">{{ 'navitem.debts.search' | trans |capitalize }}</a>
		  </div>
		</li>
        {% endif %}


		{% if is_granted('ROLE_ADMIN') %}
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.administration' | trans | capitalize }}
		  </a>
		  <div id="js-menu-administration" class="dropdown-menu" aria-labelledby="navbarAdmin">
			  <a class="dropdown-item" href="{{ path('admin_user_list') }}">{{"navitem.users" | trans | capitalize}}</a>
			  <a class="dropdown-item" href="{{ path('admin_list_payments') }}">{{"navitem.payments" | trans | capitalize}}</a>
              <a class="dropdown-item" href="{{ path('admin_concept_list') }}">{{"navitem.concepts" | trans | capitalize}}</a>
              <a class="dropdown-item" href="{{ path('admin_category_list') }}">{{"navitem.categories" | trans | capitalize}}</a>
		  </div>
		</li>
		{% endif %}}

{#		<li class='nav-item'>
		  <a class='nav-link' href="{{ path ('label_list') }}">{{ 'navitem.labels' | trans | capitalize }}</a>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarContacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.contacts' | trans | capitalize }}
		  </a>
		  <div id="js-menu-contacts" class="dropdown-menu" aria-labelledby="navbarContacts">
			  <a class="dropdown-item" href="{{ path('contact_list') }}">{{"navitem.contact_list" | trans | capitalize}}</a>
			  <a class="dropdown-item" href="{{ path('contact_import') }}">{{"navitem.contact_import" | trans | capitalize}}</a>
		  </div>
		</li>
		<li class='nav-item'>
		  <a class='nav-link' href="{{ path ('audit_list') }}">{{ 'navitem.audit' | trans | capitalize }}</a>
		</li>
		<li class='nav-item'>
		  <a class='nav-link' href="{{ path ('history_list') }}">{{ 'navitem.history' | trans | capitalize }}</a>
		</li>
#}    
      {% endif %}
    </ul>
  </div>

</nav>
		

