{% extends 'base.html.twig' %}

{% block title %}Upload File{% endblock %}

{% block body %}
    <main class="container-fluid" >
		{{ include ('/returns_files/_form.html.twig') }}
    </main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('returnsFiles_upload') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('returnsFiles_upload') }}
{% endblock %}
