{% extends 'base.html.twig' %}

{% block title %}Search Debts{% endblock %}

{% block body %}
    <main class="container-fluid" >

		<div class="container-fluid">
			{% if debtsFiles is defined and debtsFiles|length > 0 %}
			<table id="taula" class="table bootstrap-table mt-3">
			<thead>
				<tr>
				<th data-sortable="true">{{"debtsFile.id" | trans | capitalize}}</th>
				<th data-sortable="true">{{"debtsFile.fileName" | trans | capitalize}}</th>
				<th data-sortable="true">{{"debtsFile.receptionDate" | trans | capitalize}}</th>
				<th data-sortable="true">{{"debtsFile.processedDate" | trans | capitalize}}</th>
                <th data-sortable="true">{{"debtsFile.totalAmount" | trans | capitalize}}</th>
				<th data-sortable="true">{{"debtsFile.status" | trans | capitalize}}</th>
				<th data-sortable="true" data-field="options">{{"table.options" | trans | capitalize}}</th>
				</tr>
			</thead>
			<tbody>
				{% for debtsFile in debtsFiles %}
				<tr>
					<td>{{debtsFile.id}}</td>
					<td>{{debtsFile.fileName}}</td>
					<td>{{debtsFile.receptionDate ? debtsFile.receptionDate | date('Y-m-d H:i:s') : null }}</td>
					<td>{{debtsFile.processedDate ? debtsFile.processedDate | date('Y-m-d H:i:s') : null }}</td>
                    <td>{{debtsFile.totalAmount ? debtsFile.totalAmount | number_format(2, ',', '.') : null }}</td>
					<td>{{ ('debtsFile.status.choices.' ~ debtsFile.status) | trans }}</td>
					<td>
						{% if debtsFile.status == constant('App\\Entity\\DebtsFile::STATUS_PROCESSED') %}
							<a href="{{ path('debts_file_download', { 'debtsFile': debtsFile.id }) }}"><i class="fa fa-download"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
			{% else %}
				<div class="mt-2 p-2 border border-black text-center bg-light">{{"messages.results0" | trans }}</div>
			{% endif %}
			<span class="pull-right"><a href="{{ path ('debts_file_upload') }}" class="btn btn-primary btn-rounded fixed-bottom-right"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></a></span>
		</div>
    </main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('debtsFiles_list') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('debtsFiles_list') }}
{% endblock %}