{% extends 'base.html.twig' %}

{% block title %}List Users{% endblock %}

{% block body %}
    <main class="container-fluid" >
		{{ include ('/user/_form.html.twig', {'readonly': readonly, 'new': new , 'password_change': password_change}) }}
    </main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_edit') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('user_edit') }}
{% endblock %}
